.banner {
    display: flex;
    margin-bottom: 64px;

    @include table
    &__img {
        width: 800px;
        height: 765px;
        @include table {
            width: 370px;
            height: 368px;
        }
        @include mobile {
            display: none;
        }
    }
    
    &__title-wrp {
        flex-grow: 1;
        background-color: $pink-bkg;
        padding: 0 0 0 92px;
        display: flex;
        align-items: center;

        @include mobile {
            height: 363px;
            padding: 148px 56px 148px 83px;
            max-width: 100%;
        }
    }
    
    &__title {
        font-family: Lato;
        font-size: 48px;
        font-weight: 900;
        line-height: 58px;
        text-transform: uppercase;
    }
    
    &__title-lower {
        font-family: Lato;
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        display: block;
    }
    
    &__title-pink {
        color: #F18B99;
    }
}