.products {
    margin-bottom: 95px;

    &__wrp {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 31%;
        background: #F8F8F8;
        margin-bottom: 30px;

        @include tablet-min-width {
            width: 48%;
        }
    }
    
    &__item-img {
        width: 100%;
        margin-bottom: 25px;
    }
    
    &__title {
        font-weight: 400;
        text-align: center;
        font-size: 30px;
        line-height: 36px;
    }
    
    &__sub-title {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        text-align: center;
        padding-bottom: 48px;
    }
    
    &__item-title {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 13px;
        margin-left: 18px;
        text-transform: uppercase;
    }
    
    &__item-text {
        font-weight: 300;
        margin-left: 18px;
        margin-bottom: 18px;
        margin-right: 28px;
    }
    
    &__item-price {
        margin-left: 18px;
        margin-bottom: 20px;
    }
    
    &__item-img-wrp {
        position: relative;
    }
    
    &-basket__img {
        width: 26px;
    }
    
    &__item-img-wrp::before {
        content: '';
        display: none;
        position: absolute;
        background-color: rgba(58, 56, 56, 0.86);
        width: 100%;
        height: 100%;
    }
    
    &__item-basket-btn {
        position: absolute;
        display: none;
        border: 1px solid white;
        background-color: transparent;
        cursor: pointer;
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
    }
    
    &__item:hover &__item-img-wrp::before,
    &__item:hover &__item-basket-btn {
        display: block;
    }
    
    &__button {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        border: 1px solid #F26376;
        color: #F26376;
        padding: 14px 39px;
    }
    
    &__button:hover,
    &__button:focus {
        color: white;
        background-color: $active-bkg;
    }
}