.sales {
    margin-bottom: 97px;

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 260px;
        width: 360px;
        background-color: #4E4544;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @include table {
            height: 167px;
            width: 32%;
            min-height: 167px;
            width: 33%;
            background-position-y: 5px;
        }

        @include mobile {
            width: 100%;
            height: 247px;
        }
    }
    
    &__text-wrp {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        padding-top: 105px;
    }
    
    &__text {
        font-size: 16px;
        line-height: 19px;
        color: white;
        text-align: center;
        text-transform: uppercase;
    }
    
    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #F16D7F;
        text-align: center;
        text-transform: uppercase;
    }
    
    &__item--woman {
        background-image: url(../img/woman-sale.jpg);
    }
    
    &__item--man {
        background-image: url(../img/man-deal.jpg);
    }
    
    &__item--kids {
        background-image: url(../img/for-kids.jpg);
    }
    
    &__item--shoes {
        background-image: url(../img/shoes.jpg);
        width: 100%;
        height: 180px;
        margin-top: 30px;

        @include table {
            height: 117px;
        }

        @include mobile {
            height: 111px;
        }
    }
}